<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
    {{ partial "ga.html" . }}
    
    {{ partial "head.html" . }}
    {{ block "head" . }}{{ end }}
    {{ block "headAppend" . }}

    {{ end }}
</head>

<body class="bg-gray-200">
    {{- partial "header.html" . -}}
    <main class="main mx-auto pt-1 pb-8 rounded-t-2xl bg-gray-100 shadow-lg">
        {{- partial "social.html" . -}}
        <hr />
        {{- block "main" . }}{{- end -}}
    </main>
    <footer class="footer">
        {{- partial "footer.html" . -}}
    </footer>
    {{- partial "endbody.html" . -}}
</body>

</html>
