<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
    {{ template "_internal/google_analytics_async.html" . }}
    {{ partial "head.html" . }}
    {{ block "head" . }}{{ end }}
</head>

<body>
    <div class="pageContainer">
        {{- partial "header.html" . -}}
        <main id="content" class="content">
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </div>

    {{- partial "endbody.html" . -}}
</body>

</html>
