{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}

<section class="blog-post">
  <header class="bg-gray-800 blog-post-header">
    <h1 class="px-6 text-3xl text-gray-100"> {{ .Title }}</h1>
  </header>
  <section class="blog-post-details my-4">
    <div class="text-sm text-gray-800">
      <span class="">
        {{ .Params.author }}
      </span>
    </div>
    <div class="text-sm text-gray-800">
      <span class="">
        {{- .Date.Format "January 2, 2006" -}}
      </span>
    </div>
    <aside class="blog-post-share-icons text-gray-800 text-3xl">
      <a class="fa fa-facebook mx-2 px-4" rel="nofollow noopener"
        href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"
        onclick="shareFacebook('{{ .Permalink }}'); return false;" title="Share on Facebook"></a>
      <a class="fa fa-twitter mx-2 px-4" rel="nofollow noopener"
        href="http://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}&&via={{ .Site.Params.twitter }}"
        target="_blank" title="Share on Twitter"></a>
      <a class="fa fa-linkedin mx-2 px-4" rel="nofollow noopener"
        href="https://www.linkedin.com/sharing/share-offsite/?url=https://quill.codes/posts/fast-prototyping-url-shortener/"
        onclick="shareLinkedin('{{ .Permalink }}'); return false;" title="Share on LinkedIn"></a>
    </aside>
  </section>
  <article class="blog-post-content text-gray-800">
    {{- .Content -}}
  </article>
</section>

{{ end }}
{{ define "json_ld" }}
<script type="application/ld+json">
  {{ $headImage := .Params.cover_image }}
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    },
    "headline": "{{ .Title }}",
    "image": "{{ $headImage | absURL }}",  
    "author": {
      "@type": "Person",
      "name": "{{ .Params.author }}"
    },
    "datePublished": "{{- .PublishDate.Format "2006-01-02T15:04" -}}"
  }
  </script>
{{ end }}