{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}

<div class="blogPostContainer">
  {{ if isset .Params "cover_image" }}
  <img class="blogPostTitle" src="{{ .Params.cover_image }}" alt="{{ .Params.cover_image_alt }}" />
  {{ end }}
  <h1 class="postTitle"> {{ .Title }}</h1>
  <article class="blogPost">
    <div class="blogPost--details">
      <div class="blogPostDetails--postAuthor">
        <span class="blogPostDetails--postAuthor-formattedAuthor">
          {{ .Params.author }}
        </span>
      </div>
      <div class="blogPostDetails--postDate">
        <span class="blogPostDetails--postDate-formattedDate">
          {{- .Date.Format "January 2, 2006" -}}
        </span>
      </div>
    </div>

    <div class="blogPost--content">
      {{- .Content -}}
    </div>
  </article>
</div>

{{ end }}
