{{ define "main" }}
  {{/* Define a new section for recent items */}}
  {{ $mainSections := .Site.Params.main_sections }}
  {{ $subSections := .Site.Params.sub_sections }}

  {{ $topCount := $.Param "recent_posts_number" | default 3 }}

  {{ $section := where .Site.Sections "Type" "in" $mainSections }}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
  <section class="recentGroup">
    {{ $itemList := index $section 0 }}
    <header class="recentGroup--header post-list-header bg-gray-800">
      <h2 class="text-3xl text-gray-100">Recent {{ $itemList.Params.descriptor }} from {{ $itemList.Params.title }}</h2>
    </header>
    <div class="recentGroup--blogPosts mt-6 post-list">
      {{ range (first $topCount $itemList.Pages) }}
        {{ partial "excerpt.html" . }}
        <hr class="post-list-divider" />
      {{ end }}
    </div>

  </section>
  {{ end }}

  {{ $section := where .Site.Sections "Type" "in" $subSections }}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
  <section class="recentGroup">
    {{ $itemList := index $section 0 }}
    <header class="recentGroup--header post-list-header bg-gray-800">
      <h2 class="text-3xl text-gray-100">Recent {{ $itemList.Params.descriptor }} from {{ $itemList.Params.title }}</h2>
    </header>
    <div class="recentGroup--tipPosts mt-6 post-list">
      {{ range (first $topCount $itemList.Pages) }}
        {{ partial "excerpt.html" . }}
        <hr class="post-list-divider" />
      {{ end }}
    </div>

  </section>
  {{ end }}

{{ end }}