{{ define "headAppend" }}
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <base href="{{ .RelPermalink }}" />

  {{ range (.Resources.Match "*.css") }}
    <link href="{{ .Name }}" rel="stylesheet" />
  {{ end }}
{{ end }}


{{ define "main" }}
  <section class="blog-post">
    <header class="bg-gray-800 blog-post-header">
      <h1 class="px-6 text-3xl text-gray-100"> {{ .Title }}</h1>
    </header>
    <section class="my-4">
      <app-root></app-root>
    </section>
  </section>

  {{ range (.Resources.Match "*.js") }}
    <script src="{{ .Name }}"></script>
  {{ end }}
{{ end }}