<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta name="description" content="{{ default .Site.Params.description .Params.description }}" />
<title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
<link href="/css/site.css" rel="stylesheet" />
<link href="/css/syntax.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

{{ template "_internal/twitter_cards.html" . }}

{{ template "_internal/opengraph.html" . }}

{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<script async defer data-domain="quill.codes" src="https://plausible.io/js/plausible.js"></script>
