{{ $headImage := .Params.cover_image | default .Site.Params.header_image }}
<header class="header shadow-xl">
    <nav class="navbar flex flex-row">
        <div class="title ml-6">
            <a class="inline float-left" title="Back to Site Home" href="/">
                <object viewBox="0 0 100 100" height="60" data="{{ .Site.Params.logo_svg }}"
                    alt="The Quill.Codes Site Logo. Logo is an inkwell with a Quill superimposed in front."
                    type="image/svg+xml">
                    The Quill.Codes Site Logo. Logo is an inkwell with a Quill superimposed in front.
                </object>
            </a>
            <a class="title-link" title="Back to Site Home" href="/">
                {{ .Site.Title }}
            </a>
        </div>
        <div class="nav-links mr-6">
            <ul class="nav-links-list">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li class="inline {{ if $currentPage.HasMenuCurrent "main" . }}nav-links-active{{ end }}">
                    <a class="underline hover:text-gray-400 ml-4" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
    <style>
        .header {
            background-image: url('{{ $headImage | relURL }}');
            background-repeat: no-repeat;
            background-size: 100% auto;
        }
    </style>
</header>