<header class="flex border-b border-blue-400 shadow-lg mb-12">
    <div class="menu-section">
        <a class="mx-3" title="Back to Site Home" href="/">
            <object viewBox="0 0 100 100" height="60" data="{{ .Site.Params.logo_svg }}"
                alt="The Quill.Codes Site Logo. Logo is an inkwell with a Quill superimposed in front."
                type="image/svg+xml">
                The Quill.Codes Site Logo. Logo is an inkwell with a Quill superimposed in front.
            </object>
        </a>
        <a class="hidden" title="Back to Site Home" href="/">
            {{ .Site.Title }}
        </a>
    </div>

    <div class="menu-avatar">
        <img class="rounded-full shadow-lg" src="{{ .Site.Params.profile_photo }}"
            alt="{{ .Site.Params.profile_alt }}" />
    </div>

    <div class="menu-section">
        <a title="Casey's Twitter Account" rel="nofollow noopener" target="_blank"
            href="https://twitter.com/{{ .Site.Params.twitter }}" class="social-icon fa fa-twitter mx-1"></a>
        <a title="Casey's Github Account" rel="nofollow noopener" target="_blank"
            href="https://github.com/{{ .Site.Params.github }}" class="social-icon fa fa-github mx-1"></a>
        <a title="Casey's LinkedIn Account" rel="nofollow noopener" target="_blank"
            href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}/" class="social-icon fa fa-linkedin mx-1"></a>
        <a title="Quill.Codes RSS Feed" rel="nofollow noopener" target="_blank" href="{{ .Site.BaseURL }}index.xml"
            class="social-icon fa fa-rss mx-1 mr-4"></a>
    </div>

</header>