<aside class="social-icons mx-auto flex items-center justify-center my-2 text-4xl gap-8">
    <a title="Casey's Twitter Account" rel="nofollow noopener" target="_blank"
        href="https://twitter.com/{{ .Site.Params.twitter }}" class="social-icon fa fa-twitter mx-1"></a>
    <a title="Casey's Github Account" rel="nofollow noopener" target="_blank"
        href="https://github.com/{{ .Site.Params.github }}" class="social-icon fa fa-github mx-1"></a>
    <a title="Casey's LinkedIn Account" rel="nofollow noopener" target="_blank"
        href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}/" class="social-icon fa fa-linkedin mx-1"></a>
    <a title="Quill.Codes RSS Feed" rel="nofollow noopener" target="_blank" href="{{ .Site.BaseURL }}index.xml"
        class="social-icon fa fa-rss mx-1 mr-4"></a>
</aside>