  
<aside class="tagGroup">
  <header>
    <h2 class="tagGroup--header">Utilities</h2>
    <ul class="tagGroup--list">
      <li class="tagGroupListItem">
        <a href="/apps/fiddle">Web Tools</a>
      </li>
    </ul>
  </header>

  <header>
    <h2 class="tagGroup--header">Tags</h2>
  </header>
  <ul class="tagGroup--list">
    {{ range $index, $tag := .Site.Taxonomies.tags.ByCount }}
      <li class="tagGroupListItem">
        <a href="{{ "/" | relLangURL }}tags/{{ $tag.Name | urlize}}">
          {{ $tag.Name }}({{ $tag.WeightedPages.Count }})
        </a>
      </li>
    {{ end }}
  </ul>
</aside>